::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
 
  background: rgba(84, 84, 84, 0.3);

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 84, 84, 0.5);

}
/* !------------------- | Dropdown Button | ----------- */

#dropList_Category::-webkit-scrollbar{
  display: none;
}
#dropList_Category::-webkit-scrollbar-track{
  display: none;
}

#dropList_Country::-webkit-scrollbar{
  width: 5px;
}
#dropList_Country::-webkit-scrollbar-track{
  background-clip: content-box;
  background: rgb(255, 255, 255, 1);

}
#dropList_Country::-webkit-scrollbar-thumb{
  background-clip: content-box;
  background: rgb(0, 0, 0, 1);
  max-height: 20px;
}

/* !------------------- | News | ----------- */

#news_Container::-webkit-scrollbar{
  width: 5px;
}
#news_Container::-webkit-scrollbar-track{
  background-clip: content-box;
  background: rgba(220, 53, 69, 0.1);

}
#news_Container::-webkit-scrollbar-thumb{
  background: rgb(220, 53, 69);
  max-height: 20px;
}

/* !------------------- | News | ----------- */

#sports_container::-webkit-scrollbar{
  width: 5px;
}
#sports_container::-webkit-scrollbar-track{
  background-clip: content-box;
  background: rgba(13, 110, 253, 0.1);

}
#sports_container::-webkit-scrollbar-thumb{
  background: rgb(13, 110, 253);
  max-height: 20px;
}
/* !------------------- | News | ----------- */

#health_container::-webkit-scrollbar{
  width: 5px;
}
#health_container::-webkit-scrollbar-track{
  background-clip: content-box;
  background: rgba(25, 135, 84, 0.1);

}
#health_container::-webkit-scrollbar-thumb{
  background: rgb(25, 135, 84);
  max-height: 20px;
}
